*, *::before, *::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.footer{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  color: $color-light;
  margin: 60px auto;
  font-family: $font-title;
}

.none{
  display: none;
}

.container-section{

  width: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section{
  font-size: 60px;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-title;
  font-weight: 400;
  letter-spacing: 12px;
  margin-bottom: 58px;
}

.hidden{

  display: none;
}