*, *::before, *::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.footer{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  color: $color-light;
  margin: 60px auto;
  font-family: $font-title;
}
