.header{
    width: 1945px;
    height: 1297px;
    background-color: $color-dark;
    background-image: url('/images/background.jpg');
    background-size: cover;
    display:  center center;
    margin: 0;
    padding: 0;
    position: relative;


}