.search{
  width: 575px;
  margin: 0 auto;
  margin-top: 114px;

  .box-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p{
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: 6px;
      color: $color-light;
    }

    #search-form{
      display: flex;
      justify-content: space-between;

      #search-input {
        width: 355px;
        height: 59px;
        background-color: $color-light ;
        border-radius: 5px;
      }

      .btn-search{
        padding: 17px 10px;
        background-color: $color-btn;
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 400;
        color: $color-light;
        font-family: $font-title;
        border-radius: 5px;
        float: right;
        margin-left: 10px;
      }
    }
  }
}

#results-list{
  margin: 90px 0;
  color: $color-light;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 6px;

}

.search-list-container {
  width: 575px;
  margin: 113px auto;
  text-align: center;
}

.song-header {
  color: $color-light;
  font-size: 25px;
}