// zmienne z kolorami, nazwami czcionek, rozmiarami itd.
$color-light: #ffF;
$color-dark: #000;
$color-btn: #cf383e;
$font-title: 'SourceSansPro-Black', sans-serif;
$font-link: 'SourceSansPro-Semibold', sans-serif;
$font-regular: 'SourceSansPro-Regular',sans-serif;